@media (min-width: 700px) {
	.slider__container {
		width: 100%;
	}
	.slider-main__img-block {
		width: 50%;
		padding-left: 80px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.slider-main__text-block {
		width: 50%;
		padding-right: 80px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
